@import "tailwindcss";

:root {
  --background: #9AB3C8;
  --foreground: #171717;
}

@theme {
  --color-primary: #4C5C36;
  --color-secondary: #253628;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-greyterm: #b2b2b2;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-maple: var(--font-maple-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0000ff;
    --foreground: #171717;
  }
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-mono), Arial, Helvetica, sans-serif;
  }
}

@layer components {
  .border-sunk {
    border-width: 2px;
    border-top-color: var(--color-neutral-600);
    border-right-color: var(--color-neutral-100);
    border-bottom-color: var(--color-neutral-100);
    border-left-color: var(--color-neutral-600);
  }
  .border-raised {
    border-width: 2px;
    border-top-color: var(--color-neutral-100);
    border-right-color: var(--color-neutral-600);
    border-bottom-color: var(--color-neutral-600);
    border-left-color: var(--color-neutral-100);
  }
}
