@import "tailwindcss";

:root {
  --background: #0000ff;
  --foreground: #171717;
  /* sugar-high-colours */
  --sh-class: #2d5e9d;
  --sh-identifier: #354150;
  --sh-sign: #8996a3;
  --sh-property: #0550ae;
  --sh-entity: #249a97;
  --sh-jsxliterals: #6266d1;
  --sh-string: #00a99a;
  --sh-keyword: #f47067;
  --sh-comment: #a19595;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-greyterm: #b2b2b2;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-maple: var(--font-maple-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-maple), Arial, Helvetica, sans-serif;
  }
}

@layer components {
  .border-sunk {
    border-width: 2px;
    border-top-color: var(--color-neutral-600);
    border-right-color: var(--color-neutral-100);
    border-bottom-color: var(--color-neutral-100);
    border-left-color: var(--color-neutral-600);
  }
  .border-raised {
    border-width: 2px;
    border-top-color: var(--color-neutral-100);
    border-right-color: var(--color-neutral-600);
    border-bottom-color: var(--color-neutral-600);
    border-left-color: var(--color-neutral-100);
  }
}
